# Node
node_modules/
package-lock.json

# Python
venv/
.venv/
__pycache__/
*.pyc

# Ignore all pickle files
*.pk1

# Track only production ML models
!backend/app/ml/*.pkl

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db